In [49]:
import pandas as pd
import glob
from os import listdir

In [50]:
datasets_loc = glob.glob( '../datasets/*/**.csv' )

In [51]:
datasets_loc

['../datasets/👌/tweets.csv',
 '../datasets/👍/tweets.csv',
 '../datasets/💞/tweets.csv',
 '../datasets/😂/tweets.csv',
 '../datasets/😋/tweets.csv',
 '../datasets/😌/tweets.csv',
 '../datasets/😩/tweets.csv',
 '../datasets/😴/tweets.csv',
 '../datasets/😍/tweets.csv',
 '../datasets/😳/tweets.csv',
 '../datasets/😊/tweets.csv',
 '../datasets/🙏/tweets.csv',
 '../datasets/🙈/tweets.csv',
 '../datasets/😄/tweets.csv',
 '../datasets/😑/tweets.csv',
 '../datasets/😘/tweets.csv',
 '../datasets/✌️/tweets.csv',
 '../datasets/🌞/tweets.csv',
 '../datasets/☺️/tweets.csv',
 '../datasets/👶/tweets.csv',
 '../datasets/💕/tweets.csv',
 '../datasets/🇳🇵/tweets.csv',
 '../datasets/😔/tweets.csv',
 '../datasets/😭/tweets.csv',
 '../datasets/😁/tweets.csv',
 '../datasets/😏/tweets.csv',
 '../datasets/😱/tweets.csv',
 '../datasets/😈/tweets.csv',
 '../datasets/😒/tweets.csv',
 '../datasets/😜/tweets.csv',
 '../datasets/😉/tweets.csv',
 '../datasets/☕/tweets.csv',
 '../datasets/😷/tweets.csv',
 '../datasets/😎/tweets.csv',
 '../datasets/😇/tweets.csv',
 '../datasets/🙌/tweets.csv',
 '../datasets/❤️/tweets.csv']

In [52]:
df = None
for loc in datasets_loc:
    if df is None:
        df = pd.read_csv(loc)
        df['emoji'] = loc.split("/")[2]
    else:
        df_temp = pd.read_csv(loc)
        df_temp['emoji'] = loc.split("/")[2]
        df = df.append(df_temp)

In [53]:
df

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,emoji
0,1398437418768818176,1398437418768818176,2021-05-29 06:18:57 +0545,2021-05-29,06:18:57,545,1476769400,dendikapan,CDCA Kapan,NaN,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,👌
1,1397792077149216769,1397791412687495168,2021-05-27 11:34:35 +0545,2021-05-27,11:34:35,545,1476769400,dendikapan,CDCA Kapan,NaN,...,NaN,NaN,NaN,NaN,"[{'screen_name': 'damanbro66', 'name': 'बिद्रो...",NaN,NaN,NaN,NaN,👌
2,1397341721566990336,1383799053113171968,2021-05-26 05:45:02 +0545,2021-05-26,05:45:02,545,1476769400,dendikapan,CDCA Kapan,NaN,...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,👌
3,1394863068035813379,1394863068035813379,2021-05-19 09:35:45 +0545,2021-05-19,09:35:45,545,1394344497413304325,iammuhnaj,MuhNaj,"{'type': 'Point', 'coordinates': [27.713776, 8...",...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,👌
4,1393821979032133635,1393821979032133635,2021-05-16 12:38:50 +0545,2021-05-16,12:38:50,545,2586796880,chetan_karki,Chetan raj karki,"{'type': 'Point', 'coordinates': [27.67733347,...",...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,👌
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2228,389751359874289664,389751359874289664,2013-10-14 19:40:40 +0545,2013-10-14,19:40:40,545,580522825,ashmoo_moo,Ashmu =^.^=,"{'type': 'Point', 'coordinates': [27.73048071,...",...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,❤️
2229,389704517815902208,389704517815902208,2013-10-14 16:34:32 +0545,2013-10-14,16:34:32,545,580522825,ashmoo_moo,Ashmu =^.^=,"{'type': 'Point', 'coordinates': [27.73855019,...",...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,❤️
2230,387917234490048512,387917234490048512,2013-10-09 18:12:30 +0545,2013-10-09,18:12:30,545,580522825,ashmoo_moo,Ashmu =^.^=,"{'type': 'Point', 'coordinates': [27.71356987,...",...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,❤️
2231,387542385145954304,387542385145954304,2013-10-08 17:22:59 +0545,2013-10-08,17:22:59,545,580522825,ashmoo_moo,Ashmu =^.^=,"{'type': 'Point', 'coordinates': [27.7090305, ...",...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,❤️
2232,386357639460179968,386357639460179968,2013-10-05 10:55:14 +0545,2013-10-05,10:55:14,545,580522825,ashmoo_moo,Ashmu =^.^=,"{'type': 'Point', 'coordinates': [27.73868383,...",...,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,❤️

In [54]:
df.emoji.value_counts()

😂     7576
😊     4016
😍     3781
😁     3482
🇳🇵    2785
😎     2270
❤️    2233
🙏     2122
😉     2000
😜     1463
😘     1432
😋     1241
💕     1173
😄     1095
👍     1001
👌      730
😭      637
😏      554
✌️     505
😒      483
💞      461
😇      432
🙌      423
☺️     375
😔      373
😌      332
😱      314
😑      296
😈      292
🙈      291
☕      277
🌞      213
😳      185
😩      181
😴      163
😷      135
👶       45
Name: emoji, dtype: int64

In [55]:
list(df)

['id',
 'conversation_id',
 'created_at',
 'date',
 'time',
 'timezone',
 'user_id',
 'username',
 'name',
 'place',
 'tweet',
 'language',
 'mentions',
 'urls',
 'photos',
 'replies_count',
 'retweets_count',
 'likes_count',
 'hashtags',
 'cashtags',
 'link',
 'retweet',
 'quote_url',
 'video',
 'thumbnail',
 'near',
 'geo',
 'source',
 'user_rt_id',
 'user_rt',
 'retweet_id',
 'reply_to',
 'retweet_date',
 'translate',
 'trans_src',
 'trans_dest',
 'emoji']

In [59]:
df[['id', 'emoji', 'date', 'username', 'tweet', 'likes_count', 'place']].to_csv('../datasets/merged.csv', index=False)